useDynLib(NonEuclidReg, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(predict,LR)
S3method(predict,PCA.BayesHilbert)
S3method(predict,PCA.Euclid)
S3method(predict,PCA.Wasserstein)
S3method(predict,PCA.functional)
S3method(predict,PCA.manifold)
S3method(predict,PCA.manifold.list)
S3method(predict,PCA.simplex)
S3method(predict,PCA.sphere)