useDynLib(HDRegMfd, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(predict,LM)
S3method(predict,GLM)
S3method(predict,QM)
S3method(predict,AM)
S3method(predict,PCA.BayesHilbert)
S3method(predict,PCA.Euclid)
S3method(predict,PCA.Wasserstein)
S3method(predict,PCA.functional)
S3method(predict,PCA.manifold)
S3method(predict,PCA.manifold.list)
S3method(predict,PCA.simplex)
S3method(predict,PCA.sphere)
S3method(predict,Transform.Score)